<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="RemoteDriverUri" type="System.Configuration.NameValueSectionHandler" />
	</configSections>
	
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="ElementTimeout" value="30"/>
		<add key="StartUrl" value="https://www.google.com/intl/ru/gmail/about/"/>
	</appSettings>

	<RemoteDriverUri>
		<add key="GridUri" value="http://localhost:4444/wd/hub" />
	</RemoteDriverUri>
</configuration>